<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LaserSurvey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="LaserSurvey2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="LaserSurvey1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LaserSurvey2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <LaserSurvey.Properties.Settings>
      <setting name="dstOffset" serializeAs="String">
        <value>835</value>
      </setting>
      <setting name="setReverseAngels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="srvParametersValues" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0002/0</string>
            <string>0004/0</string>
            <string>0101/1</string>
            <string>010F/0</string>
            <string>0121/1</string>
            <string>0124/100</string>
            <string>0125/25</string>
            <string>0126/0</string>
            <string>012F/202</string>
            <string>0130/20</string>
            <string>0131/20</string>
            <string>0136/0</string>
            <string>0200/30</string>
            <string>0202/5000</string>
            <string>0203/5</string>
            <string>0204/20000</string>
            <string>020A/101</string>
            <string>020B/108</string>
            <string>020D/127</string>
            <string>020E/102</string>
            <string>020F/122</string>
            <string>0210/123</string>
            <string>0211/121</string>
            <string>0219/2</string>
            <string>0220/2</string>
            <string>0224/20</string>
            <string>0306/255</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="MovesNum" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="intServoRpm" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="distoLastCOM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="servoLastCOM" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="nisuyString" serializeAs="String">
        <value>nisuy</value>
      </setting>
    </LaserSurvey.Properties.Settings>
    <LaserSurvey2.Properties.Settings>
      <setting name="dstOffset" serializeAs="String">
        <value>835</value>
      </setting>
      <setting name="setReverseAngels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="srvParametersValues" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0002/0</string>
            <string>0004/0</string>
            <string>0101/1</string>
            <string>010F/0</string>
            <string>0121/1</string>
            <string>0124/100</string>
            <string>0125/25</string>
            <string>0126/0</string>
            <string>012F/202</string>
            <string>0130/20</string>
            <string>0131/20</string>
            <string>0136/0</string>
            <string>0200/30</string>
            <string>0202/5000</string>
            <string>0203/5</string>
            <string>0204/20000</string>
            <string>020A/101</string>
            <string>020B/108</string>
            <string>020D/127</string>
            <string>020E/102</string>
            <string>020F/122</string>
            <string>0210/123</string>
            <string>0211/121</string>
            <string>0219/2</string>
            <string>0220/2</string>
            <string>0224/20</string>
            <string>0306/255</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="MovesNum" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="intServoRpm" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="distoLastCOM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="servoLastCOM" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="nisuyString" serializeAs="String">
        <value>nisuy</value>
      </setting>
    </LaserSurvey2.Properties.Settings>
    <LaserSurvey1.Properties.Settings>
      <setting name="dstCOM" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="srvCOM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dstOffset" serializeAs="String">
        <value>835</value>
      </setting>
      <setting name="setReverseAngels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="servoInitParameters" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>020F</string>
            <string>0210</string>
            <string>0211</string>
            <string>0200</string>
            <string>0204</string>
            <string>0101</string>
            <string>0306</string>
            <string>012F</string>
            <string>0130</string>
            <string>0224</string>
            <string>020B</string>
            <string>020D</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="servoInitValues" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>122</string>
            <string>123</string>
            <string>121</string>
            <string>30</string>
            <string>20000</string>
            <string>1</string>
            <string>255</string>
            <string>224</string>
            <string>50</string>
            <string>200</string>
            <string>108</string>
            <string>127</string>
          </ArrayOfString>
        </value>
      </setting>
    </LaserSurvey1.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <LaserSurvey2.Properties.Settings>
      <setting name="LaserSurvey1_il_co_bedek_online_www_NameService" serializeAs="String">
        <value>http://www.bedek-online.co.il/webservices/nameservice.asmx</value>
      </setting>
    </LaserSurvey2.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ManageServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SurveyServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SurveyServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.bedek-online.co.il/webservices/manageservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManageServiceSoap"
        contract="BedekManageWebService.ManageServiceSoap" name="ManageServiceSoap" />
      <endpoint address="http://www.bedek-online.co.il/webservices/surveyservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="SurveyServiceSoap"
        contract="BedekSurveyWebService.SurveyServiceSoap" name="SurveyServiceSoap" />
      <endpoint address="http://www.bedek-online.co.il/webservices/surveyservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="SurveyServiceSoap1"
        contract="BedekSurveyWebService_1.SurveyServiceSoap" name="SurveyServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>
